/**
 * BASE
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background: #313138;
  background-image: linear-gradient(180deg, #121238 50px, #00D4FF00 100%);
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #BEBCCA;
  scroll-behavior: smooth;
}

a,
a:active,
a:hover,
a:visited {
  color: #9393DE;
}

button {
  border: 0px;
  margin: 12px 8px 0px 0px;
  padding: 7px 20px;
  color: #CCD;
  background: #121238;
}

hr {
  width: 900px;
  margin-top: 4rem;
}

p,
li {
  margin-top: 6px;
  font-size: 1.2rem;
}

input,
select,
option,
textarea {
  background: #212128;
  border: 0px;
  padding: 4px;
  color: #CECCDA;
}

h1 {
  margin-top: 6rem;
  font-family: 'Iceberg', Roboto, sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
}
h2 {
  margin-top: 5rem;
}
h1 + h2 {
  margin-top: 2rem;
}

[class^="hljs"],
code,
pre,
textarea {
  font-family: 'Fira Mono', monospace !important;
  font-optical-sizing: auto;
}

:not(pre) code {
  background: #FFF1;
  padding: 2px;
  border-radius: 4px;
  line-height: 1.8;
  border: 1px solid #FFF2;
}
.hljs {
  border: 0px;
  border-radius: 0px;
}

/**
 * LAYOUT
 */


nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #121238;
  font-size: 1.1rem;
  line-height: 2;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
}

section {
  margin-top: 5rem;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
}

footer {
  background: #121238;
  margin-top: 100px;
  padding: 100px 0px 120px 0px;
  text-align: center;
}

/**
 * Doxen components
 */

[data-applied-style-tokens="tabsHeader"] {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

[data-applied-style-tokens="tabButton tabButtonSelected"] {
  font-weight: 900;
}
