@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background: #313138;
  font-family: Lato, sans-serif;
  color: #BEBCCA;
}

h1 {
  font-family: 'Iceberg', Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

pre,
code {
  font-family: 'Space Mono', monospace;
}
